<h1>New Game</h1>

<form action="/games/upsert" role="form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    {{#if game}}
    <div>
        <h2>{{game.title}}</h2>
        <input type="hidden" name="id" value="{{game.id}}">
    </div>
    {{/if}}
    <div>
        <label for="gameName">Game</label>
        <input type="text" id="gameName" name="title" {{#if game}}value="{{game.title}}" {{/if}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>